---
import { NavigationItem } from "@components";
import { C } from "@configuration";
---

<nav class="flex flex-col gap-1">
  {
    C.NAVIGATIONS.map((navigation) => (
      <NavigationItem name={navigation.name} href={navigation.href} />
    ))
  }
</nav>
