---
import { getCollection } from "astro:content";
import { t } from "i18next";
import ArticleSummary from "../../components/ArticleSummary.astro";
import Layout from "../../layouts/Layout.astro";
import { capitalize } from "../../utils/common";
import { categorizePosts } from "../../utils/posts";

const posts = await getCollection("blog");
const undraftedPosts = posts.filter((post) => !post.data.draft);
const categorizedPosts = categorizePosts(undraftedPosts);
---

<Layout>
  <main>
    <div class="flex flex-col gap-1 mb-12">
      <h1 class="text-center">{t("blog.title")}</h1>
      <p class="text-justify mt-3">
        {t("blog.description")}
      </p>
    </div>
    <div class="flex flex-col gap-8 -mx-6">
      {
        Object.keys(categorizedPosts).map((category) => (
          <div>
            <h3 class="mb-4 px-6">{capitalize(category)}</h3>
            <section>
              <div class="flex flex-col">
                {categorizedPosts[category].map((post) => (
                  <ArticleSummary post={post} />
                ))}
              </div>
            </section>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
