@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-freground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-size: 16px;
    /* 
    @media (min-width: 640px) {
      font-size: 16px;
    } */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1;
  }

  h1 {
    font-size: 37px;
    margin-bottom: 34px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 36px;

    @media (min-width: 640px) {
      font-size: 29px;
      margin-bottom: 28px;
      margin-top: 48px;
    }
  }

  h3 {
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 40px;

    @media (min-width: 640px) {
      font-size: 20px;
     margin-bottom: 12px;
     margin-top: 28px;
    }
  }

  h4 {
    font-size: 16px;
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 16px;
  }

  .markdown {
    margin-bottom: 40px;

    ol,
    ul {
      margin-bottom: 32px;
      margin-top: 32px;

      li {
        display: flex;
        gap: 6px;
        position: relative;
        flex-direction: column;
        padding-left: 40px;
        padding-bottom: 20px;

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          content: "•";
          width: 24px;
          height: 24px;
          background: #333;
          border-radius: 6px;
          margin-right: 8px;
          flex-shrink: 0;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          z-index: 1;
          outline: 4px solid white;
          position: absolute;
          left: 0;
          top: 0;
        }

        &:after {
          @apply content-[""] block w-px h-full top-0 left-3 bg-border absolute;
        }

        // &:last-child {
        //   &:after {
        //     display: none;
        //   }
        // }
      }
    }

    ul {
      &:before {
        align-items: baseline;
      }
    }

    ol {
      counter-reset: li-counter;

      li {
        counter-increment: li-counter;

        &:before {
          content: counter(li-counter);
          font-size: 12px;
        }
      }
    }
  }

  code, pre {
    font-family: var(--font-code) !important; 
    font-size: 14px !important;
    @include scroll-bar(6px, 6px);
  }

  .markdown > .code  {
    @extend .code;
  }

  .markdown > ul pre,
  .markdown > ol pre,
  .markdown > div pre {
    margin: 0 !important;

    code {
      padding-top: 8px !important;
      padding-bottom: 16px !important;
    }
  }

  .markdown li span pre,
  .markdown p pre {
    display: inline-flex;
    margin: 0 !important;

    code {
      padding: 0 !important;
      color: #ec4899 !important;
      font-weight: 600;
    }
  }
}

@layer components {
  .link {
    @apply text-blue-600 font-semibold hover:border-b hover:border-b-blue-600;
  }

  .code {
    &-result {
      width: 100%;
      position: relative;
      border-radius: 0 0 12px 12px;
      border: 1px solid var(--border-color);
      padding: 0 46px 0 12px;
      margin-top: -35px;
      margin-bottom: 32px;
      background-color: #f9fafb;
      z-index: 20;
  
      .bug-icon {
        position: absolute;
        bottom: 16px;
        right: 18px;
        z-index: 10;
        color: #94a3b8;
      }
    }

    &-block {
      @include scroll-bar(4px, 4px);
      
      &:has(+ &-result) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  
    &-plain {
      margin: 32px 0;
  
      pre code {
        width: 100%;
        position: relative;
        border-radius: 12px;
        border: 1px solid var(--border-color);
        margin-bottom: 32px;
        background-color: #f9fafb !important;
        overflow: hidden !important;
        white-space: normal !important;
        padding: 20px 30px !important;
      }
    }
  }

}
