---
interface Props {
  href: string;
}

const { href } = Astro.props;
const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

{/* px-4 py-2 */}
<a
  class:list={[
    "block px-6 py-4 rounded-md text-md text-gray-500 hover:bg-gray-200 translation-all",
    { "[sm:text-shadow:-0.05ex_0_currentColor,_0.05ex_0_currentColor]": isActive },
  ]}
  href={href}
>
  <slot />
</a>
