---
import { Icon } from "astro-icon";

interface Props {
  type: "repo" | "article";
  status: "WRITER" | "OWNER" | "CONTRIBUTER";
  title: string;
  description: string;
  score: number;
  url: string;
}

const { type, title, status, description, score, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="flex flex-col px-6 py-3 gap-1 col-span-1 rounded-lg hover:bg-gray-75"
>
  <div class="flex justify-between text-primary">
    <p>{status}</p>
    <div class="flex items-center align-middle">
      {score}
      <Icon name={type === "article" ? "ic:baseline-people-alt" : "ic:round-star"} />
    </div>
  </div>
  <span class="text-lg text-black font-medium leading-tight">{title}</span>
  <p class="text-sm">{description ?? "Description not available."}</p>
</a>

<style lang="scss">
  [astro-icon] {
    width: 22px;
    height: 22px;
    margin-bottom: 1px;
  }
</style>
