---
import { Icon } from "astro-icon";

export interface Props {
  type: "warning" | "danger" | "info";
}

const { type } = Astro.props;
---

<div
  class:list={[
    "p-5 flex flex-col gap-2 items-center md:items-start mb-8 sm:flex-row sm:gap-4 md:rounded-md -mx-6 md:mx-0",
    {
      "bg-yellow": type === "warning",
      "bg-[rgba(220,38,38,0.5)]": type === "danger",
      "bg-gray-200": type === "info",
    },
  ]}
>
  <Icon name={type} />
  <div class="flex flex-col justify-center">
    <slot />
  </div>
</div>

<style lang="scss">
  [astro-icon] {
    @apply w-8 h-8 shrink-0 sm:w-10 sm:h-10;
  }
</style>
