---
import { Icon } from "astro-icon";

export interface Props {
  type: "warning" | "danger" | "info";
}

const { type } = Astro.props;
---

<div
  class:list={[
    "p-5 flex flex-col items-center gap-2 mb-8 -mx-6 text-justify md:text-start sm:flex-row sm:gap-4 md:rounded-md",
    {
      "bg-yellow": type === "warning",
      "bg-[rgba(220,38,38,0.5)]": type === "danger",
      "bg-gray-200": type === "info",
    },
  ]}
>
  <Icon name={type} />
  <div>
    <slot />
  </div>
</div>

<style lang="scss">
  [astro-icon] {
    @apply w-8 h-8 shrink-0 sm:w-10 sm:h-10;
  }
</style>
