---
import { t } from "i18next";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="flex flex-col gap-1 mb-10">
      <h1>{t("snippets.title")}</h1>
      <p class="text-justify mt-3">Coming soon!</p>
    </div>
  </main>
</Layout>
