---
import {
  Languager,
  Navigations,
  Packages,
  Profile,
  Socials,
} from "@components";
import type { Lang } from "@models/type";
import { Seperator, Spacer } from "@ui-kit";
import { useTranslations } from "@utils";

type Props = {
  parent?: "menu" | "sidebar";
};

const { parent = "sidebar" } = Astro.props as Props;

const { lang } = Astro.params;
const t = useTranslations(lang as Lang);
---

<div class="flex flex-col w-full h-full">
  <div class="flex flex-col w-full h-full">
    <div class="flex gap-2">
      <Profile />
      <div
        class:list={{
          hidden: parent === "menu",
        }}
      >
        <Languager />
      </div>
    </div>
    <Spacer size={8} />
    <Navigations />
    <Spacer size={parent === "menu" ? 4 : 0} />
    <Packages />
    {parent === "menu" && <Seperator />}
    <Spacer size={8} />
    <Socials />
    <Spacer size={4} />
    <div
      class:list={{
        hidden: parent === "menu",
      }}
    >
      <Seperator />
      <Spacer size={4} />
      <footer class="text-xs text-gray-500 text-center">
        {t("Inspired by onur.dev")}
      </footer>
    </div>
  </div>
</div>
