---
import { Navigations, Profile, Socials } from "@components";
import { Seperator, Spacer } from "@ui-kit";

type Props = {
  parent?: "menu" | "sidebar";
};

const { parent = "sidebar" } = Astro.props as Props;
---

<div class="flex flex-col w-full h-full">
  <div class="flex flex-col w-full h-full">
    <div class="flex gap-2">
      <Profile />
    </div>
    <Spacer size={8} />
    <Navigations />
    <Spacer size={parent === "menu" ? 4 : 0} />
    {parent === "menu" && <Seperator />}
    <Spacer size={8} />
    <Socials />
  </div>
</div>
