---
import { Icon } from "astro-icon/components";
import { Languager } from "@components";
import { Spacer } from "@ui-kit";
---

<div class="flex items-center gap-2">
  <Icon name="logo" size={40} />
  <div class="flex flex-col">
    <strong class="text-sm">Enes Başpınar</strong>
    <span class="text-xs font-extralight">Software Engineer</span>
  </div>
  <Spacer />
  <Languager />
</div>
