---
import { Entries } from "@components";
import { BaseLayout } from "@layouts";

interface Props {
  entryId: string;
  title: string;
  description: string;
  date: Date;
}

const { entryId, title, description, date } = Astro.props;
---

<BaseLayout id={entryId} {title} {description} {date}>
  <div class="hidden md:block">
    <Entries />
  </div>

  <slot />
</BaseLayout>