---
import i18next, { t } from "i18next";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import '../styles/base.scss';
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <script defer src="/_vercel/insights/script.js"></script>
    <BaseHead title={t("site.title")} description={t("site.description")}/>
  </head>
  <body class="flex flex-col py-4 px-6 min-h-screen sm:py-8 w-screen md:max-w-3xl md:mx-auto md:pb-6">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
