---
import i18next, { t } from "i18next";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={t("site.description")}
    />
    <title>{t("site.title")}</title>
  </head>
  <body class="flex flex-col py-4 px-6 min-h-screen sm:py-8 w-screen md:max-w-3xl md:mx-auto md:pb-6">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    @apply text-gray-600 scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-black;
  }

  h1 {
    @apply text-display-md md:text-display-xl font-bold leading-none mb-4;
  }

  h2 {
    @apply text-display-sm md:text-display-md leading-snug font-semibold mb-6 mt-12 md:mt-16;
  }

  h3 {
    @apply text-xl md:text-display-xs font-semibold mt-10 md:mt-14 mb-4;
  }

  h4 {
    @apply text-xl font-normal leading-none;
  }

  img {
    @apply md:rounded-lg;
  }

  b,
  strong {
    @apply text-black;
  }
</style>
