---
import { SocialItem } from "@components";
---

<div class="flex flex-col gap-1">
  <SocialItem name="github" href="https://github.com/yusufyazici" />
  <SocialItem name="linkedin" href="https://www.linkedin.com/in/yusufyazici" />
  <SocialItem name="twitter" href="https://twitter.com/yusufyazici" />
  <SocialItem name="youtube" href="https://www.youtube.com/yusufyazici" />
</div>
