---
import { capitalize } from "@utils";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<a
  href={href}
  class="flex gap-3 items-center px-2 py-2 rounded-lg text-sm hover:bg-gray-200"
>
  <Icon name={name} size={18} />
  <span class="text-sm">{capitalize(name)}</span>
  <Icon name="external-link" size={18} class="ml-auto" />
</a>
